<% layout('/layouts/boilerplate') -%>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-12">

            <div class="alert alert-secondary d-flex align-items-center shadow-sm" role="alert">
                <div class="me-2">
                    <i class="fa-solid fa-circle-info"></i>
                </div>
                <div>
                    <strong>Notice:</strong> This is a secondary alert message. Review the information carefully.
                    <%= err.message %> 
                </div>

            </div>

        </div>
    </div>
</div>